@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    grid-area: auto;
}

body {
    background-color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
    color: black;
}

body.dark-mode {
    background-color: #092635;
    color: white;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.navbar-logo {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Google Sans Code', sans-serif;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 16px;
    color: black;
}

.li-menu a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: 'Google Sans Code', sans-serif;
}

body.dark-mode li a{
    color: #FFFFFF;
}

li a:hover {
    color: #000B58;
    transition: 0.2s ease-in;
}

.button-contact a {
    border: 3px solid black;
    padding: 0.8rem 1.5rem;
    border-radius: 4rem;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Google Sans Code', sans-serif;
}

body.dark-mode .button-contact a{
    border: 2px solid white;
    padding: 0.8rem 1.5rem;
    border-radius: 4rem;
    color: #FFFFFF;
}

#darkModeToggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #000B58;
    font-family: 'Google Sans Code', sans-serif;
}

body.dark-mode #darkModeToggle{
    color: #fcb602;
    font-weight: 600;
}

#blog-select{
    font-weight: 500;
    font-family: 'Google Sans Code', sans-serif;
}


.first-section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: max-content;
}

.intro-text h2 {
    font-size: 7.5rem;
    line-height: 1.1;
    position: absolute;
    top: 50%;
    left: 3.8%;
    font-family: 'Google Sans Code', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.paragraf-text {
    position: absolute;
    text-align: right;
    top: 68%;
    left: 62%;
    width: 30rem;
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;
}

.paragraf-text p {
    font-family: 'Google Sans Code', sans-serif;
}

.border-foto {
    position: absolute;
    top: 5%;
    left: 65%;
    width: 13.5rem;
    height: 16.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(41, 40, 40, 0.322) 4px 4px 6px;
}

body.dark-mode .border-foto{
    position: absolute;
    top: 5%;
    left: 65%;
    width: 13.5rem;
    height: 16.5rem;
    box-shadow: rgba(255, 255, 255, 0.541) 4px 4px 6px;
}

.foto-dama {
    width: 13.5rem;
    height: 16.5rem;
    object-fit: cover;
    border-radius: 4px;
}

body.dark-mode .foto-dama{
    width: 13.5rem;
    height: 16.5rem;
    object-fit: cover;
    border-radius: 4px;
}

.animasi-section {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 16px;
}

select#blog-select {
    font-size: 16px;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

body.dark-mode select#blog-select{
    color: #FFFFFF;
}

.li-about{
    text-decoration: none;
    font-weight: 800;
    color: Black;
    font-family: 'Google Sans Code', sans-serif;
    cursor: context-menu;
}

marquee.slide{
    display: flex;
    width: 90%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    padding: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    border: 3px dotted black;
    border-top: none;
    border-bottom: none;
    border-radius: 8px;
}

.slide .li-about{
    border: 5px double black;
    padding: 1rem 2rem 1rem 3.5rem;
    border-radius: 6rem;
}

.figma{
    height: 30px;
    width: 25px;
    position: absolute;
    top: 25%;
    left: 1.5%;
}

.illustrator{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 12.6%;
}

.indesign{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 27.8%;
}

.photoshop{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 41.3%;
}

.premier{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 55.4%;
}

.aftereffect{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20%;
    left: 70.5%;
}

.davinci{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 15%;
    left: 85.9%;
}

.about-body{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.tagline-01{
    font-family: 'Google Sans Code', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 4rem;
    position: absolute;
    left: 47%;
    word-spacing: -29px;
    padding-top: 6rem;
}

.paragraf-about p{
    font-family: 'Google Sans Code', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    position: absolute;
    left: 10%;
    top: 77rem;
    text-align: center;
}

.about-logo{
    font-family: 'Google Sans Code', sans-serif;
    font-weight: 600;
    color: #000B58;
    font-size: 18px;
    position: absolute;
    left: 4%;
    display: inline-block;
}

.foto-about{
    height: 560px;
    width:360px;
    border-radius: 30px;
    position: absolute;
    left: 7%;
    top: 87rem;
    border: 3px double black;
    box-shadow: rgba(0, 0, 0, 0.12) 1.2rem 1.5rem 1rem;
    cursor: grabbing;
}


@media only screen and (max-width : 600px) {
    .navbar {
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-logo{
        font-size: 18px;
        margin-top: 1rem;
    }

    .navbar-menu{
        margin-top: 1rem;
        font-size: 10px;
        gap: 2rem;
        flex-direction: row;
    }

    .button-contact a{
    font-size: 10px;
    }

    #darkModeToggle{
    font-size: 10px;
    }

    select#blog-select{
    font-size: 10px;
    }

    .border-foto{
        left: 8%;
    }

    .intro-text h2{
        margin-top: 6rem;
        font-size: 3.5rem;
    }

    .paragraf-text{
        margin-top: 1rem;
        left: -30%;
        top: 50%;
        font-size: 0.8rem;
    }
}

